.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signup {
  max-width: 330px;
  padding: 1rem;
}

.form-add-resource {
  max-width: 600px;
  padding: 1rem;
}

.form-settings {
  max-width: 600px;
  padding: 1rem;
}

.timepicker {
  position: absolute;
  z-index: 1000;
  float: left;
  width: 160px;
  padding-bottom: 5px;
  margin: 2px 0 0 0;
  list-style: none;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
