{% extends 'base.html' %}

{% block content %}

<div class="form-add-resource w-100 m-auto">

<h1 class="h3 mb-3 fw-normal">Add resource</h1>

<form class="align-items-center needs-validation" action="" method="POST" novalidate>

  {{ form.hidden_tag() }}

  <div class="row my-2">
    <div class="col">
      <label>{{ form.name.label }}</label>
      {{ form.name(class_="form-control", required="true") }}

      {% if form.name.errors %}
        {% for error in form.name.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="col-md-4">
      <label>{{ form.resource_type.label }}</label>
      {{ form.resource_type(class_="form-select", required="true") }}
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <label>{{ form.notes.label }}</label>
      {{ form.notes(class_="form-control", required="true") }}
    </div>

    {% if form.notes.errors %}
      {% for error in form.notes.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="my-2">
    {{ form.submit(class_="btn btn-primary") }}
  </div>

</form>

</div>

{% endblock content %}
