<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages.home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages.add') }}">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages.login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages.register') }}">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
