{% import 'resource_macro.html' as list_item with context %}

{% extends 'base.html' %}

{% block content %}

<div class="list-group">

{% for res in resources %}
  {{ list_item.resource_group_item(res) }}
{% endfor %}

</div>

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="messageModalLabel">Set message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="messageText"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="setMsgModalButton">Set message</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/socket.io/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/resource.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/sync.js') }}"></script>
{% endblock scripts %}
