{% import 'resource_macro.html' as list_item with context %}

{% extends 'base.html' %}

{% block title %} Main List {% endblock title %}

{% block content %}

<div class="list-group">

{% for res in resources %}
  {{ list_item.resource_group_item(res) }}
{% endfor %}

</div>

{{ list_item.resource_msg_modal() }}

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/socket.io/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/resource.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/sync.js') }}"></script>
{% endblock scripts %}
