{% extends 'base.html' %}

{% block content %}

<div class="form-signup w-100 m-auto">

<h1 class="h3 mb-3 fw-normal">Register</h1>

<form class="needs-validation" action="" method="POST" novalidate>

  {{ form.hidden_tag() }}

  <div class="form-floating my-2">
    {{ form.first_name(class_="form-control", required="true", id="floatingInput", placeholder="First name") }}
    <label for="floatingInput">{{ form.first_name.label }}</label>

  {% if form.first_name.errors %}
    {% for error in form.first_name.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="form-floating my-2">
    {{ form.last_name(class_="form-control", required="true", id="floatingInput", placeholder="Last name") }}
    <label for="floatingInput">{{ form.last_name.label }}</label>

  {% if form.last_name.errors %}
    {% for error in form.last_name.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="form-floating my-2">
    {{ form.username(class_="form-control", required="true", id="floatingInput", placeholder="Username") }}
    <label for="floatingInput">{{ form.username.label }}</label>

  {% if form.username.errors %}
    {% for error in form.username.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="form-floating my-2">
    {{ form.password(class_="form-control", required="true", id="floatingPassword", placeholder="Password") }}
    <label for="floatingPassword">{{ form.password.label }}</label>

  {% if form.password.errors %}
    {% for error in form.password.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="form-floating my-2">
    {{ form.confirm(class_="form-control", required="true", id="floatingconfirm", placeholder="Confirm password") }}
    <label for="floatingconfirm">{{ form.confirm.label }}</label>

  {% if form.confirm.errors %}
    {% for error in form.confirm.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="my-2">
  {{ form.submit(class_="btn btn-primary w-100 py-2") }}
  </div>
</form>
</div>

{% endblock content %}
