{% import 'resource_macro.html' as list_item with context %}

{% extends 'base.html' %}

{% block title %} Update Resource {% endblock title %}

{% block content %}

<div class="form-add-resource w-100 m-auto">

<h1 class="h3 mb-3 fw-normal">Update {{ resource.name }}</h1>

<form class="align-items-center needs-validation" action="{{ url_for('ui.resource.update_by_id', id=resource.id) }}" method="POST" novalidate>

  {{ form.hidden_tag() }}

  <div class="row my-2">
    <div class="col">
      <label>{{ form.name.label }}</label>
      {{ form.name(class_="form-control", required="true") }}

      {% if form.name.errors %}
        {% for error in form.name.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="col-md-4">
      <label>{{ form.resource_type.label }}</label>
      {{ form.resource_type(class_="form-select", required="true") }}
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <label>{{ form.notes.label }}</label>
      {{ form.notes(class_="form-control", required="true") }}

      {% if form.notes.errors %}
        {% for error in form.notes.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="my-4">
    {{ form.submit(class_="btn btn-primary") }}
  </div>

</form>

<hr class="my-4">

  <div class="mx-2 my-2">
    <dl class="row">
      <dt class="col-4">Status</dt>
      {% if resource.taken %}
      <dd class="col-8">Taken</dd>
      {% else %}
      <dd class="col-8">Free</dd>
      {% endif %}
      <hr>
      <dt class="col-4">Taken by</dt>
      <dd class="col-8">{{ resource.taken_by | fullname }}</dd>
      <hr>
      <dt class="col-4">Taken on</dt>
      {% if resource.taken %}
      <dd class="col-8">
        <time datetime="{{ resource.taken_on }}">
        {{ resource.taken_on | dateformat("%d/%m/%y %H:%M:%S") }}
        </time>
      </dd>
      {% else %}
      <dd class="col-8">None</dd>
      {% endif %}
      <hr>
      <dt class="col-4">Message</dt>
      <dd class="col-8">{{ resource.message }}</dd>
    </dl>
  </div>

<hr class="my-4">

<div class="d-flex justify-content-between align-items-center mt-4">
  <button type="button" class="btn btn-primary" id="resourceTakeButton" data-bs-resource-id="{{ resource.id }}">Take</button>
  {% if current_user.is_authenticated %}
    {% if resource.taken %}
      {% if current_user.username == resource.taken_by %}
      <button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#messageModal" data-bs-resource="{{ resource.name }}" data-bs-resource-id="{{ resource.id }}">Message</button>
      {% endif %}
    {% endif %}
  {% endif %}
  <button type="button" class="btn btn-warning" id="resourceReleaseButton" data-bs-resource-id="{{ resource.id }}">Release</button>
  <button type="button" class="btn btn-danger" id="resourceDeleteButton" data-bs-resource-id="{{ resource.id }}">Delete</button>
</div>

{% if resource.history %}
<div class="mt-4 font-monospace overflow-auto">
  <ul class="list-group">
    {% for item in resource.history  | reverse %}
      <li class="list-group-item">
        <div class="row">
          <span class="text-warning-emphasis col-4">[<time datetime="{{ item[0] }}">{{ item[0] }}</time>]</span>
          <span class="col-8">{{ item[1] }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

</div>

{{ list_item.resource_msg_modal() }}

{% endblock content %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/resource.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script>
$(document).ready(function() {
  document.getElementById("resourceTakeButton").addEventListener("click", function() {
    const id = this.getAttribute('data-bs-resource-id')
    takeResource(id)
  });

  document.getElementById("resourceReleaseButton").addEventListener("click", function() {
    const id = this.getAttribute('data-bs-resource-id')
    releaseResource(id)
  });

  document.getElementById("resourceDeleteButton").addEventListener("click", function() {
    const id = this.getAttribute('data-bs-resource-id')
    deleteResource(id)
  });
});
</script>

{% endblock scripts %}
